<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- head -->
    <title><%- include('./partials/head') %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="single-student">
      <% if (student !== '') { %>
      <h1>Student information</h1>
      <h2>Name: <%= student.name %></h2>
      <h3>Email: <%= student.email %></h3>
      <h3>School: <%= student.school %></h3>
      <h3>Age: <%= student.age %></h3>
      <h3>Class: <%= student.class %></h3>
      <img src="" alt="<%= student.image %>" />
    </div>
    <% } %>
  </body>
</html>
